body{
    background-color:rgb(181, 100, 100);
    color: floralwhite;
}
.container{
    width: 60%;
    margin: 40px auto;
    padding: 20px;
    background-color: rgb(66, 110, 95);
    border-radius: 20px;
}

.header{
    text-align: center;
}

h1{
    font-style: italic;
    text-align: center;
}

.last{
    text-align: center;
}
.hobby{
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
